html {
	background-color: #000000;
}

main {
	width: 600px;
	margin: 10px auto;
	background-color: #ffffff;
}

.logo {
	display: block;
	margin: 0 auto;
	padding: 5px 0;
}

@media (max-width: 550px) {
main {
	max-width:100%;
	margin: 10px 0;	
}
.logo {
	display: block;
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 5px 0;
}
}