html {
	background-color: #000000;
}

main {
	width: 600px;
	margin: 10px auto;
	background-color: #ffffff;
}

.logo {
	display: block;
	margin: 0 auto;
	padding: 5px 0;
}
#map_modal h1 {
	font-size:18px;
	font-weight:bold;
	color: #002531;
	padding:8px 0;
}
#map_modal p, #map_modal figure {
	padding:8px 0;
}
nav {
	text-align:right;
	padding-right:22px;
}
nav a {
	text-decoration:none;
	font-size:18px;
	vertical-align:middle;
}
nav img {
	vertical-align:middle;	
}

@media (max-width: 550px) {
main {
	max-width:100%;
	margin: 10px 0;	
}
.logo {
	display: block;
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 5px 0;
}
}