/*
.modalBox {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #A9A9A9;
	z-index: 99999;
	opacity:0;
	pointer-events: none;
}
.modalBox:target {
	opacity:1;
	pointer-events: auto;
}
.modal-contents {
	width: 30%;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	background: #ffffff;
}*/
.modal-hide{
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
}
.modal-show{
	display: block;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 99;
}

.modal-content{
	position: relative;
	background-color: #fefefe;
	opacity: 1;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 40%;
	heigh:100%;
	margin: 10% auto;
}
h2{
	display: block;
	margin: auto;
	width: 20%
}
.form{
	display: block;
	margin: auto;
	width: 50%
}
input{
	width: 100%
}
span{
	color: red;
	font-size: .5em;
}
.close{
	font-size: 1em;
	margin-left: 98%;
	display: inline-block;
}
#close{
	width:100%;
	height:100%
}
